.drag_custom_node{
    width: 100%;
    height: 100%;
}

input{
    border:none;
    background: none;
    border: 1px solid #ccc;
    width:100%;
    color: #333;
    text-align: center;
    height:100%;
}

.dragCustom{
    position: relative;
}