.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow .dragCustom{
    width:120px;
    height:26px;
    border-radius: 6px;
    background-color: #1890ff;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .dndflow .outCustom{
    width:120px;
    height:26px;
    border-radius: 6px;
    background-color: #3bff18;
    text-align: center;
    display: flex;
    align-items: center;
  }


  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }
  